@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
 
:root{
	--container-color: #17161a;
	--cor-secundaria: #2f91e0;
	--cor-texto: white;
	--bg-color: #17161a;
}

html{
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}


a{
	text-decoration: none;
}
body {
	 min-height: 100vh;
	 margin: 0;
   font-family: Poppins, sans-serif;
   background-color: #191919;
}
 p {
	 margin: 0;
}
 #burger-toggle {
	 position: absolute;
	 appearance: none;
	 opacity: 0;
}
 #burger-toggle:checked ~ .menu {
	 opacity: 1;
	 visibility: visible;
	 z-index: 20;
}
 #burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p {
	 transform: translateY(0);
	 transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
	 transition-delay: 0.18s;
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
	 transition-delay: 0.26s;
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
	 transition-delay: 0.34s;
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
	 transition-delay: 0.42s;
}
 #burger-toggle:checked ~ .burger-menu .line::after {
	 transform: translateX(0);
}
 #burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
	 transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
 #burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
	 transform: scaleX(0);
}
 #burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
	 transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
 .burger-menu {
	 --burger-menu-radius: 4em;
	 position: fixed;
	 top: 5vh;
	 right: 5vw;
	 z-index: 100;
	 display: block;
	 width: var(--burger-menu-radius);
	 height: var(--burger-menu-radius);
	 outline: none;
	 cursor: pointer;
}
 .burger-menu .line {
	 position: absolute;
	 left: 25%;
	 width: 50%;
	 height: 3px;
	 background: #2f91e0;
	 border-radius: 10px;
	 overflow: hidden;
	 transition: 0.5s;
}
 .burger-menu .line:nth-child(1) {
	 top: 30%;
}
 .burger-menu .line:nth-child(2) {
	 top: 50%;
}
 .burger-menu .line:nth-child(3) {
	 top: 70%;
}
 .burger-menu .line::after {
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: var(--primary-color-darker);
	 transform: translateX(-100%);
	 transition: 0.25s;
}
 .burger-menu .line:nth-child(2)::after {
	 transition-delay: 0.1s;
}
 .burger-menu .line:nth-child(3)::after {
	 transition-delay: 0.2s;
}
 .burger-menu:hover .line::after {
	 transform: translateX(0);
}
 .menu {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: #1a1e23;
	 opacity: 0;
	 overflow-x: hidden;
	 visibility: hidden;
	 transition: 0.3s;
}

.menu .menu-inner{
  width: 85%;
}
 @media screen and (max-width: 750px) {
	 .menu {
		 display: block;
	}
}
 .menu-nav {
	 display: flex;
	 flex-wrap: wrap;
   justify-content: space-between;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 list-style-type: none;
}
 @media screen and (max-width: 750px) {
	 .menu-nav {
		 flex-direction: column;
	}
}
 .menu-nav-link {
 color: #2f91e0;
 font-size: 20px;
 font-weight: 700;
 text-decoration: none;
 text-transform: uppercase;
}
 .menu-nav-link:hover {
   color: white;
}
 .menu .gallery {
	 margin-top: 60px;
	 text-align: center;
}
 .menu .title {
	 font-size: 24px;
	 color: white;
	 overflow: hidden;
}
 .menu .title p {
	 font-size: 18px;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 transform: translateY(102%);
}
 .menu .images {
	 margin-top: 36px;
	 display: flex;
	 justify-content: space-evenly;
}
 @media screen and (max-width: 750px) {
	 .menu .images {
		 justify-content: center;
	}
}
 .menu .images .image-link {
	 width: auto;
	 margin: 0 12px;
	 overflow: hidden;
}
 @media screen and (max-width: 750px) {
	 .menu .images .image-link {
		 width: 40vw;
		 margin: 0 12px 12px 0;
	}
}
 .menu .images .image-link .image {
	 position: relative;
	 transition: 0.6s;
}
 .menu .images .image-link .image::before {
	 position: absolute;
	 content: attr(data-label);
	 top: 0;
	 left: 0;
	 z-index: 1;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 color: white;
	 background: #2f90e0ee;
	 opacity: 0;
	 transition: 0.4s;
}
 .menu .images .image-link:hover .image {
	 transform: scale(1.2);
}
 .menu .images .image-link:hover .image::before {
	 opacity: 1;
}
 .menu .images img {
	 height: 200px;
	 border-radius: 5px;
	 transform: translateY(102%);
}

.saber-mais-botao{
  font-size: 20px;
  color: #2f91e0;
  margin-top: 100px;
}

/* Home */

.hero-home{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.hero-home .imagem{
	display: flex;
    justify-content: flex-end;
    height: 100%;
}

.hero-home .conteudo{
	width: 40vw;
}

.hero-home .conteudo h2{
	font-size: 62px;
    line-height: 1em;
    color: #bdb7ce;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
	margin-top: 0;
}

.hero-home .conteudo h4{
	font-size: 50px;
    line-height: 1em;
    color: #2f91e0;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-home .conteudo p{
	font-size: 28px;
    line-height: 24px;
    color: #2f91e0;
    font-weight: 400;
    margin-bottom: 40px;
	font-style: italic;
}


.theme-btn {
	text-align: center;
	color: inherit;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  .btn-style-one {
	position: relative;
	display: inline-flex;
  }
  .btn-style-one .btn-title {
	position: relative;
	min-width: 180px;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	font-weight: 400;
	background-color: #bdb7ce;
	z-index: 1;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  .btn-style-one .btn-title .icon {
	position: relative;
	color: inherit;
	margin-left: 20px;
  }
  .btn-style-one .btn-title:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #2f91e0;
	content: "";
	z-index: -1;
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	transform: scale(1, 1);
	transform-origin: left center;
  }
  .btn-style-one:hover .btn-title:before {
	transform: scale(0, 1);
	transform-origin: right center;
	opacity: 1;
  }
  .btn-style-one:hover .btn-title {
	background-color: #fff;
	color: #2f91e0;
  }

  .more-info-home{
	background-color: #fff;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
  }

  .more-info-home .geral{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
  }

  .more-info-home .geral .imagem{
	  display: flex;
	  justify-content: center;
  }


  .more-info-home .geral .imagem img{
	width: 35vw;
	border-radius: 20px;
  }

  .more-info-home .geral .conteudo{
	  margin-left: 7vw;
  }

  .more-info-home .geral .conteudo h4{
	font-size: 32px;
    line-height: 36px;
    color: #2f91e0;
    font-weight: 600;
    margin-bottom: 30px;
	margin-top: 0;
}

.theme_color{
	color: #2f91e0;
	font-weight: 700;
}

/* Blog */

.head{
	width: 100%;
	height: 440px;
	background-color: var(--container-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.head .content{
	color: var(--cor-texto);
	text-align: center;
}

.head .content .title{
	font-size: 3.5rem;
}

.head .content .subtitle{
	font-size: 1rem;
	font-weight: 400;
}

.post{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 500px));
	justify-content: center;
	gap: 1.5rem;
	padding: 0 10%;
	margin-top: 50px;
}

.post-box{
	background-color: white;
	box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
	padding: 15px;
	border-radius: 0.5rem;
}

.post-img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem;
}

.category{
	font-size: 0.9rem;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--cor-secundaria);
}

.post-title{
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--container-color);
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.post-date{
	display: flex;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 4px;
}

.post-description{
	font-size: 0.9rem;
	line-height: 1.5rem;
	margin: 5px 0 10px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/* Fim blog */


/* Quem somos */

.title{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.title h2{
color: #2f91e0;
font-size: 35px;
font-weight: 700;
}

.filterDiv{
	display: none;
}
  
  .show {
	display: block;
  }
  
  .container {
	margin-top: 20px;
	overflow: hidden;
    position: relative;
    

  }
  
  /* Style the buttons */

  #myBtnContainer{
	  display: flex;
	  align-items: center;
	  flex-direction: column;
  }

  .cadeiras{
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
  }

  .btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: #ddd;
  }
  
  .btn.active {
	background-color: #666;
	color: white;
  }


  .container .card{
    position: relative;
    cursor: pointer;
	margin: -50px 15px;
}

.container .card:hover{
	margin: 10px 15px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #2f91e0;
    transform: translateY(0);
	z-index: 20;
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/* educacao */

/* fim educacao */
.about-section{
	display: flex;
	justify-content: space-evenly;
}

.about-section .caixa{
	background: #333;
	min-width: 200px;
	max-width: 400px;
	padding: 20px ;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
}


/* Fim quem somos */

/* Contactos */

.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div a{
    margin: 0.8rem 0;
    padding: 1rem;
	font-size: 4rem;
    color: #2f91e0;
}
.contact-info span i{
    padding-bottom: 0.9rem;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 4rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #2f91e0;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px){
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* fim contactos */

/* Web */
.conteudos-tecnologias{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.conteudos-tecnologias .tecnologia{
	width: 20%;
	background-color: #ddd;
	padding: 10px 20px;
	border-radius: 10px;
}
/* tecnologias */